Makefile
Makefile.in
aclocal.m4
config.log
config.status
config/
configure
core
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
package
stamp-h1
test/ot-c-wrapper-test*
version.h
.deps/
.libs/
*.la
*.lo
*.o
*.orig
*.pc
*.rej
*.so
_*
